@model WebProje.Models.Yurt

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Bunu silmek istediğini emin misin?</h3>
<div>
    <h4>Yurt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yurt_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yurt_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Available_place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Available_place)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contract)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contract)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="YurtID" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Geri dön</a>
    </form>
</div>
